<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>examples</key>
	<array>
		<string>ToDoList</string>
		<string>CityPicker</string>
		<string>Login</string>
		<string>WindApp</string>
		<string>NavigationBarUse</string>
		<string>TimeDownBtn</string>
	</array>
</dict>
</plist>
